$small-padding: 1rem;
$standard-padding: 2rem; 
$large-padding: 3rem;

$text-size-body: 1.5rem;
$text-size-label: 2rem;

$main-text-clr: #444;
$light-text-clr: rgb(165, 165, 165);
$heading-text-clr: #3DABF5;
$accent-clr: #FFEE99;
$soft-accent-clr: #FFF5C2;
$border-clr: #CCC;
$main-bg-clr: #F9F9F9;

$gradient: linear-gradient(90deg, #FFE45E, #7FC8F8);