:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 350px;
  margin: auto;
  height: 100vh;
  background-color: #F9F9F9;
}

.header {
  padding: 2rem 2rem 0 2rem;
  position: relative;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header__icon {
  font-size: 3rem;
  text-align: center;
  display: block;
  margin: 1rem auto;
  opacity: 0.7;
  color: #3DABF5;
  text-align: center;
}
.header__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: "Poetsen One";
  text-align: center;
  color: #3DABF5;
}
.header__subtitle {
  margin: 0 2rem 3rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  text-align: center;
  font-style: italic;
  color: #444;
}
.header__dividing-line {
  height: 6px;
  width: 100%;
  margin: auto;
  background: linear-gradient(90deg, #FFE45E, #7FC8F8);
  margin: 3rem 0;
}

.main__toggle-form-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: white;
  transition: all linear 0.2s;
  display: block;
  width: 100%;
  margin-bottom: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #3DABF5;
  cursor: pointer;
  display: block;
  margin: 3rem auto;
  width: 70%;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main__toggle-form-btn:hover, .main__toggle-form-btn:focus {
  background: linear-gradient(90deg, #FFE45E, #7FC8F8);
  font-weight: 700;
  transform: scale(1.1);
}
.main__toggle-form-btn:focus {
  border: none;
  outline: 1px solid #3DABF5;
}
.main__toggle-form-text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #444;
  font-weight: 700;
  font-style: italic;
  color: #3DABF5;
}
.main__toggle-form-icon {
  font-size: 2rem;
  color: #3DABF5;
}

.form {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.form__label {
  display: block;
  width: 100%;
  margin-bottom: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #3DABF5;
}
.form__input {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: white;
  transition: all linear 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #444;
  position: relative;
}
.form__input:focus {
  outline: 1px solid #444;
}
.form__input::-moz-placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #444;
  color: rgb(165, 165, 165);
}
.form__input::placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #444;
  color: rgb(165, 165, 165);
}
.form__dividing-line {
  height: 3px;
  width: 70%;
  margin: auto;
  background: linear-gradient(90deg, #FFE45E, #7FC8F8);
}
.form__submit {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: white;
  transition: all linear 0.2s;
  display: block;
  width: 100%;
  margin-bottom: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #3DABF5;
  cursor: pointer;
  margin-bottom: 3rem;
}
.form__submit:hover, .form__submit:focus {
  background: linear-gradient(90deg, #FFE45E, #7FC8F8);
  font-weight: 700;
  transform: scale(1.1);
}
.form__submit:focus {
  border: none;
  outline: 1px solid #3DABF5;
}

.radio-group {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
}
.radio-group__legend {
  display: block;
  width: 100%;
  margin-bottom: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #3DABF5;
}
.radio-group__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.radio-group__label {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #444;
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: white;
  transition: all linear 0.2s;
  cursor: pointer;
}
.radio-group__label:focus {
  outline: 1px solid #444;
}
.radio-group__radio {
  display: none;
}
.radio-group__radio:hover + .radio-group__label, .radio-group__radio.main__toggle-form-btn:focus + .radio-group__label, .radio-group__radio.form__submit:focus + .radio-group__label {
  background-color: #FFF5C2;
  font-weight: 700;
}
.radio-group__radio:checked + .radio-group__label {
  background-color: #FFEE99;
  font-weight: 700;
}

.results {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.results__heading {
  display: block;
  width: 100%;
  margin-bottom: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #3DABF5;
  font-size: 3rem;
  margin: 0 0 2rem;
  padding: 0;
  font-weight: 700;
  text-align: center;
}
.results__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.results__list-item {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 1rem 2rem;
  position: relative;
}
.results__list-item--top {
  border: 2px solid #3DABF5;
  background: linear-gradient(90deg, #FFE45E, #7FC8F8);
}
.results__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.7;
}
.results__time {
  display: block;
  width: 100%;
  margin-bottom: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #3DABF5;
  margin: 0;
  padding: 0;
  width: 8rem;
  font-size: 2.2rem;
  font-family: "Poetsen One";
  color: #444;
}
.results__time--top {
  font-size: 2.5rem;
}
.results__primary-criteria {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #444;
  margin: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
}
.results__primary-criteria--top {
  font-size: 1.8rem;
}

.show-form .main__toggle-form-btn {
  display: none;
}
.show-form .results {
  display: none;
}
.show-form .form {
  display: flex;
}

.show-results .main__toggle-form-btn {
  display: flex;
}
.show-results .form {
  display: none;
}/*# sourceMappingURL=main.css.map */