@use './partials/__variables.scss' as *;
@use './partials/__mixins.scss' as *;


:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 320px;
    margin: auto;
    height: 100vh;
    background-color: $main-bg-clr;
}   

.header {
    padding: $standard-padding $standard-padding 0 $standard-padding;
    // position: relative;

    // .fa-solid {
    //     font-size: 3rem;
    //     text-align: center;
    //     display: block;
    //     margin: $small-padding auto;
    //     opacity: 0.6;
    //     color: $heading-text-clr;

    // }

    // .fa-solid {
//     height: 10rem;
//     font-size: 60rem;
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: -1;
//     opacity: 0.04;
//     color: $main-text-clr;
// }

    &__title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 4rem;
        font-family: 'Poetsen One';
        text-align: center;
        color: $heading-text-clr;
    }

    &__subtitle {
        margin: 0 $standard-padding $large-padding $standard-padding;
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        text-align: center;
        font-style: italic;
        color: $main-text-clr;
    }

    &__dividing-line {
        @include divider-gradient(6px, 100%);
        margin: $large-padding 0;
    }
}

.main {

    &__toggle-form-btn {
        @include button;
        display: block;
        margin: $large-padding auto;
        width: 70%;
        height: 35px;
        display: none; /* Change to flex to show */
        align-items: center;
        justify-content: center;
        gap: $standard-padding;
    }

    &__toggle-form-text {
        @include body-text;
        font-weight: 700;
        font-style: italic;
        color: $heading-text-clr;
    }

    &__toggle-form-icon {
        font-size: 2rem;
        color: $heading-text-clr;
    }
}

.form {
    padding: $small-padding $standard-padding;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__label {
        @include label-text;
    }

    &__input {
        @include input($small-padding, $small-padding);
        @include body-text;
        position: relative;
        
        &:focus {
            outline: 1px solid $main-text-clr;
        }

        &::placeholder {
            @include body-text;
            color: $light-text-clr;
        }
    }

    &__dividing-line {
        @include divider-gradient(3px, 70%);
    }

    &__submit {
        @include input($small-padding, $standard-padding);
        @include label-text;
        cursor: pointer;

        &:hover {
            background: $gradient;
            font-weight: 700;
            transform: scale(1.1);
        }

        &:focus {
            @extend :hover;
            border: none;
            outline: 1px solid $heading-text-clr;
        }
    }
}

.radio-group {
    display: flex;
    padding: 0;
    margin: 0;  
    border: none;

    &__legend {
        @include label-text;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__label {
        @include body-text;
        @include input($small-padding, $small-padding);
        cursor: pointer;

        &:focus {
            outline: 1px solid $main-text-clr;
        }
    }

    &__radio {
        display: none;

        &:hover + .radio-group__label {
            background-color: $soft-accent-clr;
            font-weight: 700;
        }

        &:checked + .radio-group__label {
            background-color: $accent-clr;
            font-weight: 700;
        }
    }
}

.results {
    margin-top: $large-padding;
    display: flex;
    flex-direction: column;

    &__heading {
        @include label-text;
        font-size: 3rem;
        margin: 0 0 $standard-padding;
        padding: 0;
        font-weight: 700;
        text-align: center;

    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: $small-padding;
    }

    &__list-item {
        width: 100%;
        display: flex;
        gap: $standard-padding;
        align-items: center;
        border: 1px solid $border-clr;
        border-radius: 5px;
        padding: $small-padding $standard-padding;

        &--top {
            border: 2px solid $heading-text-clr;
            background: $gradient;
            // background-color: $accent-clr;
        }
    }
    
    &__time {
        @include label-text;
        margin: 0;
        padding: 0;
        width: 8rem;
        font-size: 2.2rem;
        font-family: 'Poetsen One';
        color: $main-text-clr;

        &--top {
            font-size: 2.5rem;
        }
    }

    &__primary-criteria {
        @include body-text;
        margin: 0;
        border-radius: 5px;
        font-weight: 700;
        font-size: 1.5rem;

        &--top {
            font-size: 1.8rem;
        }
    }
}


.show-form {
    .main__toggle-form-btn {
        display: none;
    }

    .results {
        display: none;
    }

    .form {
        display: flex;
    }
}

.show-results {
    .main__toggle-form-btn {
        display: flex;
    }

    .form {
        display: none;
    }
}

.show-both {
    .main__toggle-form-btn {
        display: flex;
    }

    .results {
        display: flex;
    }

    .form {
        display: flex;
    }
}


// .fa-mountain-sun {
//     height: 10rem;
//     font-size: 60rem;
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: -1;
//     opacity: 0.04;
//     color: $main-text-clr;
// }

.radio-group__option {
    position: relative;

    .input__icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        font-size: 1.5rem;
    }
}